@model IEnumerable<E3DBPI.Models.Message>

@{
    ViewBag.Title = "Contraxtor Inter-Project Messaging!";
}

<div class="listing container">
    <h2>@ViewBag.co_cName @ViewBag.Title</h2>
    <table class="table" id="messagelist">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Message
                </th>
                <th>
                    Select
                </th>
                <th>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr data-id="@item.MessageID">
                <td>
                    @Html.DisplayFor(modelItem => item.MessageDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromFName) @Html.DisplayFor(modelItem => item.FromLName) (@Html.DisplayFor(modelItem => item.FromEmail))<br />
                    @Html.DisplayFor(modelItem => item.FromCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToFName) @Html.DisplayFor(modelItem => item.ToLName) (@Html.DisplayFor(modelItem => item.ToEmail))<br />
                    @Html.DisplayFor(modelItem => item.ToCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageSubject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageText)
                </td>
                <td>
                    <div class="checkbox">
                        X
                    </div>
                </td>
                <td width="15%">
                    @Html.ActionLink("View", "Details", new { id = item.MessageID }, htmlAttributes: new { @class = "btn btn-xs btn-info" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.MessageID }, htmlAttributes: new { @class = "btn btn-xs btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageID }, htmlAttributes: new { @class = "btn btn-xs btn-warning" })
                </td>
            </tr>
        }
    </table>

    <p class="buttonbox">
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-lg btn-primary" role="button" aria-disabled="true">Return</a>
        @Html.ActionLink("Create a New Message", "Create", "Messages", new { }, htmlAttributes: new { @class = "btn btn-lg btn-primary" })
        @Html.ActionLink("Delete Selected", "Index", "Messages", new { }, htmlAttributes: new { @class = "btn btn-md btn-danger" })
    </p>
</div>

@section scripts{
    <script>
    $(document).ready(function () {
        $("#messagelist").DataTable();
    });
    </script>
}