@{
    ViewBag.Title = "Work on DBPI";
}
<h3>@ViewBag.Message</h3>

<row>
    <div class="col-md-12">
        <h1>Work with us!</h1>
        We're putting together a team to build this project out. 
    </div>
</row>

<row>
    <div class="col-md-12">
        <h4>Our Team</h4>
        <ul>
            <li>Rob Evans      President of E3ImageGroup   Stakeholder, Project Lead, Design Lead</li>
            <li>Jim xxx        President of xxx Graphics   Stakeholder, Industry Consultant, Requirements</li>
            <li>Rory Bresnan   President of RawrData Technology    Systems Analyst</li>
            <li></li>
            <li>We need this    Independent Contractor  Backend .Net, C# programmer, SQL, Framework . Work on system requirements and flow</li>
            <li>We need this    Independent Contractor  Backend .Net, C# programmer, SQL. Work connecting forms to databases</li>
            <li>We need this    Independent Contractor  Front-End .net, UI/UE, Javascript +, HTML, CSS, Razor</li>
        </ul>
    </div>

</row>

<div class="row" style="margin-top:80px;">
    <div class="col-md-4">

        <h4 style="">People & Project Databases</h4>
        <ul>
            <li>@Html.ActionLink("Companies", "index", "Companies")</li>
            <li>@Html.ActionLink("Employees", "index", "Employees")</li>
            <li>@Html.ActionLink("AltAddresses", "index", "AltAddresses")</li>
            <li>@Html.ActionLink("Projects", "index", "Projects")</li>
            <li>@Html.ActionLink("SubProjects", "index", "SubProjects")</li>
            <li>@Html.ActionLink("ProjectStatus", "index", "ProjectStatus")</li>
            <li>@Html.ActionLink("Bids", "index", "Bids")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>eCommerce Databases</h4>
        <ul>
            <li>@Html.ActionLink("Items", "index", "Items")</li>
            <li>@Html.ActionLink("Orders", "index", "Orders")</li>
            <li>@Html.ActionLink("OrderLines", "index", "OrderLines")</li>
            <li>@Html.ActionLink("OrderStatus", "index", "OrderStatus")</li>
            <li>@Html.ActionLink("Payments", "index", "Payments")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Communication Databases</h4>
        <ul>
            <li>@Html.ActionLink("Messages", "index", "Messages")</li>
        </ul>
        <ul>
            <li>@Html.ActionLink("BlogPosts", "index", "BlogPosts")</li>
            <li>@Html.ActionLink("BlogComments", "index", "BlogComments")</li>
            <li>@Html.ActionLink("BlogCategories", "index", "BlogCategories")</li>
        </ul>

    </div>
</div>


<div class="row" style="margin-top:40px">
    <div class="col-md-12">

        <h4>Sites with Similar functionality</h4>
        <ul>
            <li><a href="http://bluebeam.com" target="_blank">BlueBeam</a></li>
            <li><a href="http://reproconnect.com" target="_blank">Reproconnect</a></li>
            <li><a href="http://buildertrend.com" target="_blank">BuilderTrend</a></li>
            <li><a href="http://plangrid.com" target="_blank">PlanGrid</a></li>
            <li><a href="http://co-construct.com" target="_blank">Co-Construct</a></li>
            <li><a href="http://procore.com" target="_blank">ProCore</a></li>
            <li><a href="http://redteam.com" target="_blank">RedTeam</a></li>
            <li><a href="https://www.sage.com/en-us/sage-construction/" target="_blank">Sage 100</a></li>
        </ul>

    </div>

</div>


<address style="margin-top:40px">
    <strong>Email us:</strong>   <a href="mailto:info@e3imagegroup.com">info@e3imagegroup.com</a><br />
</address>
