@model IEnumerable<E3DBPI.ViewModels.Users_in_role_ViewModel>

@{
    ViewBag.Title = "User Manager";
}
<div class="panel panel-primary">
    <!-- /.box-header -->
    <div class="panel-body">
        <div class="listing container">
            <div class="panel-heading">
                <h2>@ViewBag.co_cName @ViewBag.Title</h2>
@Html.ActionLink("Manage Users", "ManageUsers") | @Html.ActionLink("Manage Roles", "ManageRoles") | @Html.ActionLink("Manage User Roles", "AssignRole")
<hr />
            </div>
            <h4 class="box-title">
                <b>Users and their Roles</b>
            </h4>
            <table class="table" id="usertable">
                <thead>
                    <tr>
                        <td><b>Username</b></td>
                        <td><b>Email</b></td>
                        <td><b>Confirmed</b></td>
                        <td><b>Roles</b></td>
                        <td></td>
                    </tr>
                </thead>
                @foreach (var user in Model)
            {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@Html.CheckBox("EmailConfirmed", @user.EmailConfirmed)</td>
                        <td>@user.Role</td>
                        <td>@Html.ActionLink("View", "ManageUsers", "Admin", new { id = @user.Username }, htmlAttributes: new { @class = "btn btn-xs btn-info" })</td>
                        @*<td>@Html.ActionLink("View", "Details", "Employees", new { id = @user.Username }, htmlAttributes: new { @class = "btn btn-xs btn-info" })</td>*@
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="panel-footer">
        <p class="box-title"><b>Total Users as of @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@Model.Count()</span></p>
    </div>
</div>


@section scripts{
    <script>
    $(document).ready(function () {
        $('#usertable').DataTable();
    });
    </script>

}