@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Role Manager";
}
<div class="panel panel-primary">
    <!-- /.box-header -->
    <div class="panel-body">
        <div class="listing container">
            <div class="panel-heading">
                <h2>@ViewBag.co_cName @ViewBag.Title</h2>
                @Html.ActionLink("Manage Users", "ManageUsers") | @Html.ActionLink("Manage Roles", "ManageRoles") | @Html.ActionLink("Manage User Roles", "AssignRole")
                <hr />
            </div>
            <table class="table" id="roletable">
                <thead>
                    <tr>
                        <td><b>Role Name</b></td>
                        <td><b></b></td>
                        <td><b></b></td>
                    </tr>
                </thead>
                @foreach (var role in Model)
            {
                    <tr>
                        <td>@role.Name</td>
                        <td><b>@Html.ActionLink("Edit", "RoleEdit", new { roleName = @role.Name }, htmlAttributes: new { @class = "btn btn-xs btn-info" })</b></td>
                        <td><b><span onclick="return confirm('Are you sure to delete Role?')"><a href="/Admin/RoleDelete?RoleName=@role.Name" class="delLink btn btn-xs btn-warning">Delete</a></span></b></td>

                    </tr>
                }
            </table>
        </div>
</div>
    <div class="panel-footer">
        <p class="box-title"><b>Total Roles as of @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@Model.Count() </span></p>
    </div>

</div>



<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="box-title"><b>Create Roles</b></h3>
    </div>

    @using (Html.BeginForm("CreateRole", "Admin", FormMethod.Post))
            {
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Role Name</label>
                <input type="text" class="form-control" name="RoleName" />
            </div>
        </div>
                <div class="row">
                    <div class="col-md-6" style="text-align:center">
                        <button type="submit" value="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>

    }
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#roletable').DataTable();
        });
    </script>

}





