@model IEnumerable<E3DBPI.Models.Document>

@{
    ViewBag.Title = "Documents";
}
    <h2>@ViewBag.co_cName @ViewBag.Title</h2>
<div class="listing container" style="width:40%">
    <table class="table" id="documentlist">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubProject.SubProjectName)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubProject.SubProjectName)
                </td>
                <td width="15%">
                    @Html.ActionLink("View", "Details", new { id = item.DocumentID }, htmlAttributes: new { @class = "btn btn-xs btn-info" }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.DocumentID }, htmlAttributes: new { @class = "btn btn-xs btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DocumentID }, htmlAttributes: new { @class = "btn btn-xs btn-warning" })
                </td>
            </tr>
        }

    </table>
</div>


    <h3>Upload a new file</h3>


    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" />
        <p>Select the file you would like to Upload. After selecting you files, press the upload button, below.</p>
        <input type="submit" id="btnUpload" value="Upload" />
    }
    <hr />

    <div id="dialog" style="display: none"></div>



@section scripts{
    @Styles.Render("~/Content/bootstrap1.css")

    <script>
        $(document).ready(function () {
            $("#documentlist").DataTable();
        });
    </script>
}




<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/themes/start/jquery-ui.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
<script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                height: 600,
                width: 600,
                title: "Zoomed Image"
            });
            $(".Grid img").click(function () {
                $('#dialog').html('');
                $('#dialog').append($(this).clone());
                $('#dialog').dialog('open');
            });
        });
</script>



