<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Your Message to DBPI</title>

<style>
    body {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
</style>

</head>
<body>
    <h4>Your Message to DBPI has been received!</h4>
<div style="font-size:16px">
    <p>First Name: @ViewBag.fname</p>
    <p>Last Name: @ViewBag.lname</p>
    <p>Company: @ViewBag.company</p>
    <p>Email: @ViewBag.Email</p>
    <h4>MESSAGE:</h4>
    <p>@ViewBag.comment</p>
</div>
</body>
</html>
