@model IEnumerable<E3DBPI.Models.Team>

@{
    ViewBag.Title = "Teams";
}

<div class="listing container">
    <h2>@ViewBag.co_cName @ViewBag.Title</h2>
    <table class="table" id="teamslist">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyID)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyID)
                </td>
                <td>
                    @Html.ActionLink("View", "Details", new { id = item.TeamRecordID }, htmlAttributes: new { @class = "btn btn-xs btn-info" }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.TeamRecordID }, htmlAttributes: new { @class = "btn btn-xs btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TeamRecordID }, htmlAttributes: new { @class = "btn btn-xs btn-warning" })
                </td>
            </tr>
        }

    </table>
    <p class="buttonbox">
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-lg btn-primary" role="button" aria-disabled="true">Return</a>
    </p>

    </div>
    @section scripts{
        <script>
            $(document).ready(function () {
                $("#teamslist").DataTable();
            });
        </script>
    }

