@model E3DBPI.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DBPImail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DBPImail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Company_EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Company_EmployeeID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MessageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
