@model E3DBPI.Models.BlogComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostCommentAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCommentAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCommentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCommentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCommentContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCommentContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCommentCompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCommentCompanyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.Post_author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogPost.Post_author)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostCommentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
