@{
    ViewBag.Title = "DBPI Home";

}
<div class="row">
    <div class="col-md-12">
        <h1>THE COMPLETE</h1>
        <h1>PROJECT MANAGEMENT</h1>
        <h1>SOLUTION</h1>
    </div>
</div>

<div class="row" style="margin-top:80px">
    <div class="col-md-6">
        <p style="font-size:18px;line-height:30px;font-weight:bold;">
            Design Build Plan IT (DBPI), is a premier collaborative planroom and project management solution designed for busy AEC professionals.
            Whether you are looking to grow a small boutique firm, or streamline processes within a multi-functional firm, AEC professionals rely on 
            DBPI’s ease-of-use platform to collaborate, communicate, share, design, and track the progress of complexities of a 
            project in real time. Thus, saving valuable time and unnecessary expenses from concept through development.
            Unlock the power of efficiency, and transform your E-AEC world today!
        </p>
    </div>
    <div class="col-md-6">
        <div style="position:relative;height:0;padding-bottom:56.21%">
        <iframe src="https://www.youtube.com/embed/gU62ghqZFYs?ecver=2" style="position:absolute;left:0" width="570" height="340" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="row" style="margin-top:80px;">
    <div class="col-md-4">

        <h4 style="">People & Project Databases</h4>
        <ul>
            <li>@Html.ActionLink("Companies", "index", "Companies")</li>
            <li>@Html.ActionLink("Employees", "index", "Employees")</li>
            <li>@Html.ActionLink("AltAddresses", "index", "AltAddresses")</li>
            <li>@Html.ActionLink("Projects", "index", "Projects")</li>
            <li>@Html.ActionLink("SubProjects", "index", "SubProjects")</li>
            <li>@Html.ActionLink("ProjectStatus", "index", "ProjectStatus")</li>
            <li>@Html.ActionLink("Bids", "index", "Bids")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>eCommerce Databases</h4>
        <ul>
            <li>@Html.ActionLink("Items", "index", "Items")</li>
            <li>@Html.ActionLink("Orders", "index", "Order")</li>
            <li>@Html.ActionLink("OrderLine", "index", "OrderLine")</li>
            <li>@Html.ActionLink("OrderStatus", "index", "OrderStatus")</li>
            <li>@Html.ActionLink("Payments", "index", "Payments")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Communication Databases</h4>
        <ul>
            <li>@Html.ActionLink("Messages", "index", "Messages")</li>
        </ul>
        <ul>
            <li>@Html.ActionLink("BlogPosts", "index", "BlogPosts")</li>
            <li>@Html.ActionLink("BlogComments", "index", "BlogComments")</li>
            <li>@Html.ActionLink("BlogCategories", "index", "BlogCategories")</li>
        </ul>

    </div>
</div>
