@model E3DBPI.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustOrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustOrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipToAddressID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipToAddressID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipperID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipperID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipperTracking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipperTracking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebShipping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebShipping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualShipping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualShipping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discounts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discounts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fulfilled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fulfilled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
