@model IEnumerable<E3DBPI.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<div class="listing container">
    <h2>@ViewBag.co_cName @ViewBag.Title</h2>

    <table class="table" id="orderslist">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WebShipping)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActualShipping)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesTax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discounts)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebShipping)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualShipping)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discounts)
                </td>
                <td width="15%">
                    @Html.ActionLink("View", "Details", new { id = item.OrderID }, htmlAttributes: new { @class = "btn btn-xs btn-info" }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }, htmlAttributes: new { @class = "btn btn-xs btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderID }, htmlAttributes: new { @class = "btn btn-xs btn-warning" })
                </td>
            </tr>
        }

    </table>


</div>

@section scripts{
    @Styles.Render("~/Content/bootstrap1.css")

    <script>
            $(document).ready(function () {
                $("#orderslist").DataTable();
            });
    </script>
}
