@model IEnumerable<E3DBPI.Models.BlogCategory>

@{
    ViewBag.Title = "News Categories";
}

<div class="listing container">
    <h2>@ViewBag.co_cName @ViewBag.Title</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post_CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post_CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post_CategoryText)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Post_CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post_CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post_CategoryText)
                </td>
                <td>
                    @Html.ActionLink("View", "Details", new { id = item.Post_CategoryID }, htmlAttributes: new { @class = "btn btn-xs btn-info" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.Post_CategoryID }, htmlAttributes: new { @class = "btn btn-xs btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Post_CategoryID }, htmlAttributes: new { @class = "btn btn-xs btn-warning" })
                </td>
            </tr>
        }

    </table>
    <p class="buttonbox">
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-lg btn-primary" role="button" aria-disabled="true">Return</a>
        @Html.ActionLink("Create New", "Create", new { }, htmlAttributes: new { @class = "btn btn-lg btn-primary" })
    </p>

</div>

@section scripts{
    <script>
            $(document).ready(function () {
                $("#itemboxes").DataTable();
            });
    </script>
}
