@model IEnumerable<E3DBPI.Models.SubProject>

@{
    ViewBag.Title = "Sub-Projects and Tasks";
}

<h2>Sub-Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="listing container">
    <h2>@ViewBag.co_cName @ViewBag.Title</h2>
    <table class="table" id="subprojectlist">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubProjectStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BiDOpenDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BidCloseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiredDate)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubProjectID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubProjectStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BiDOpenDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidCloseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredDate)
                </td>
                <td width="15%">
                    @Html.ActionLink("View", "Details", new { id = item.SubProjectID }, htmlAttributes: new { @class = "btn btn-xs btn-info" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.SubProjectID }, htmlAttributes: new { @class = "btn btn-xs btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.SubProjectID }, htmlAttributes: new { @class = "btn btn-xs btn-warning" })
                </td>
            </tr>
        }

    </table>
</div>
    <p class="buttonbox">
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-lg btn-primary" role="button" aria-disabled="true">Return</a>
        @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("CompanyAdmin"))
                {
                @Html.ActionLink("Create a New Sub-Project", "Create", new { }, htmlAttributes: new { @class = "btn btn-lg btn-primary" })
            }
        }
    </p>
@section scripts{
    <script>
            $(document).ready(function () {
                $("#subprojectlist").DataTable();
            });
    </script>
}
