@model E3DBPI.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SKU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Featured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Featured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemNW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemNW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Limage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Limage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Simage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Simage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pic01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pic01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pic02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pic02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pic03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pic03)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Outlet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outlet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderInc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderInc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ranking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ranking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemBox.BoxDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemBox.BoxDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemBox1.BoxDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemBox1.BoxDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
