@model E3DBPI.Models.BlogPost

@{
    ViewBag.Title = "Contraxtor Article";
}
<section class="container" id="articlepost" style="text-align:center">
    <article>
        <div style="text-align:center; margin-top:15px;">
            <h2>@Html.DisplayFor(model => model.Post_Tite)</h2>
            <hr />
            <img src="/images/@Html.DisplayFor(model => model.Post_Image1)" style="max-width:640px;">

            <div class="row">
                <div class="col-md-4 text-right">
                    <p>Author: @Html.DisplayFor(model => model.Post_author)</p>
                </div>
                <div class="col-md-4">
                    <p>Category: @Html.DisplayFor(model => model.Post_CategoryID)</p>
                </div>
                <div class="col-md-4 text-left">
                    <p>@Html.DisplayFor(model => model.Post_Date)</p>
                </div>
            </div>
            <h3 style="font-style:italic;margin-left:0;margin-right:0;"> @Html.DisplayFor(model => model.Post_Content)</h3>
        </div>
        <div class="row" style="margin-top:40px;margin-bottom:40px;">
            <div class="col-md-12">
                <p style="font-size:16px;"> @Html.DisplayFor(model => model.Post_ArticleContent)</p>
            </div>
        </div>

            <!-- Social Media SHARE buttons -->
            <h4 style="text-align:left">Share this Article on:</h4>
            <div class="row center-block" style="margin-bottom:20px; float:none; text-align:left">
                <div style="float:left; margin-right:10px;"> <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
                </div>

                <div style="float:left;margin-right:10px;" class="fb-share-button" data-href='/BlogPosts/Details?ID=@Html.DisplayFor(model => model.PostID)' data-layout="button"> </div>

                <div style="float:left;margin-right:10px;">
                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?"></a>
                    <link rel="canonical" href='/BlogPosts/Details?ID=@Html.DisplayFor(model => model.PostID)' />
                </div>

                <div style="float:left;margin-right:10px;" class="g-plus" data-action="share" data-annotation="none" data-href='/BlogPosts/Details?ID=@Html.DisplayFor(model => model.PostID)'></div>

                <div style="float:left;margin-right:10px;">
                <script type="IN/Share">
                </script>
                </div>
            </div>
        </article>

    <div class="row buttonbox">
        <div class="col-md-4">
            @Html.ActionLink("Previous Article", "Details", "BlogPosts", new { id = Model.PostID }, htmlAttributes: new { @class = "btn btn-lg btn-primary" })
        </div>
        <div class="col-md-4">
            @*@Html.ActionLink("Back to News & Events", "NewsnEvents", "BlogPosts", new { }, htmlAttributes: new { @class = "btn btn-lg btn-primary" })*@
            <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-lg btn-primary" role="button" aria-disabled="true">Return</a>
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Next Article", "Details", "BlogPosts", new { id = Model.PostID }, htmlAttributes: new { @class = "btn btn-lg btn-primary" })
        </div>
    </div>

        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("SuperAdmin"))
            {

                <h3 style="margin-top:60px; margin-bottom:20px;">Administrator Section</h3>
                <div>
                    @Html.ActionLink("Manage Article Comments", "Index", "BlogComments", new { id = Model.PostID }, htmlAttributes: new { @class = "btn btn-lg btn-warning" })
                    @Html.ActionLink("Create a New Article", "Create", "BlogPosts", new { }, htmlAttributes: new { @class = "btn btn-lg btn-primary" })
                    @Html.ActionLink("Edit this Article", "Edit", new { id = Model.PostID }, htmlAttributes: new { @class = "btn btn-lg btn-success" })
                    @Html.ActionLink("Delete this Article", "Delete", new { id = Model.PostID }, htmlAttributes: new { @class = "btn btn-lg btn-danger" })
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-2">
                        Category: @Html.DisplayFor(model => model.BlogCategory.Post_CategoryName)
                    </div>
                    <div class="col-md-2">
                        Comments Allowed: @Html.DisplayFor(model => model.Post_CommentsAllowed)
                    </div>
                    <div class="col-md-2">
                        Review Comments: @Html.DisplayFor(model => model.Post_CommentsReview)
                    </div>
                    <div class="col-md-2">
                        Post Status: @Html.DisplayFor(model => model.Post_Status)
                    </div>
                    <div class="col-md-2">
                        Featured: @Html.DisplayFor(model => model.Post_Featured)
                    </div>
                    <div class="col-md-2">
                        Views: @Html.DisplayFor(model => model.Post_Views)
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-3">
                        Image 1: @Html.DisplayFor(model => model.Post_Image1)<br />
                        <img src="/images/@Html.DisplayFor(model => model.Post_Image1)" style="max-width:240px;">
                    </div>
                    <div class="col-md-3">
                        Image 2: @Html.DisplayFor(model => model.Post_Image1)<br />
                        <img src="/images/@Html.DisplayFor(model => model.Post_Image2)" alt="No Image" style="max-width:240px;">
                    </div>
                    <div class="col-md-3">
                        Image 3: @Html.DisplayFor(model => model.Post_Image1)<br />
                        <img src="/images/@Html.DisplayFor(model => model.Post_Image3)" alt="No Image" style="max-width:240px;">
                    </div>
                    <div class="col-md-3">
                        Banner 1: @Html.DisplayFor(model => model.Post_Banner1)<br />
                        <img src="/images/@Html.DisplayFor(model => model.Post_Banner1)" alt="No Image" style="max-width:240px;">
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-3">
                        Link1 URL: @Html.DisplayFor(model => model.Post_URL1)
                    </div>
                    <div class="col-md-3">
                        Link2 URL: @Html.DisplayFor(model => model.Post_URL2)
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-3">
                        Active: @Html.DisplayFor(model => model.Post_Active)
                    </div>
                    <div class="col-md-3">
                        Deleted: @Html.DisplayFor(model => model.Post_Deleted)
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            }
        }

</section>
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>

<script type="text/javascript">

    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));


    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/javascript"
        async defer
        src="//assets.pinterest.com/js/pinit.js">
</script>

<script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/platform.js"></script>

<style>
.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-16 { width: 16px; height: 16px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-16.png) no-repeat 0 0; }
.ig-b-16 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-16@2x.png); background-size: 60px 178px; } }
</style>