@model IEnumerable<E3DBPI.Models.BlogPost>

@{
    ViewBag.Title = "Contraxtor News & Events Display";
}

<div class="listing container">
    <h2>@ViewBag.Title</h2>
    <table class="table" id="articlelist">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Post_Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post_author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post_Tite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post_Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post_Featured)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post_Views)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogCategory.Post_CategoryName)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Post_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post_author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post_Tite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post_Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post_Featured)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post_Views)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogCategory.Post_CategoryName)
                </td>
                <td width="15%">
                    @Html.ActionLink("View", "Details", new { id = item.PostID }, htmlAttributes: new { @class = "btn btn-xs btn-info" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostID }, htmlAttributes: new { @class = "btn btn-xs btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostID }, htmlAttributes: new { @class = "btn btn-xs btn-warning" })
                </td>
            </tr>
        }

    </table>
</div>



<div class="col-md-12">
    <p class="buttonbox">
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-lg btn-primary" role="button" aria-disabled="true">Return</a>
        @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("SuperAdmin"))
                {
                @Html.ActionLink("Create a New Article", "Create", "BlogPosts", new { }, htmlAttributes: new { @class = "btn btn-lg btn-primary" })
                @Html.ActionLink("Manage Article Comments", "Index", "BlogComments", new { }, htmlAttributes: new { @class = "btn btn-lg btn-warning" })
            }
        }
    </p>

</div>







<div class="col-md-12" style="text-align:center;margin-top:40px;">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("SuperAdmin"))
        {
        }
    }
</div>


@section scripts{
    <script>
            $(document).ready(function () {
                $("#articlelist").DataTable();
            });
    </script>
}




