@model IEnumerable<E3DBPI.Models.BlogPost>

@{
    ViewBag.Title = "Contraxtor™ News & Events";
}

<div class="row mt-5 mb-5">
    <div class="col-md-12">
        <h1 style="text-align:center">@ViewBag.Title</h1>
    </div>
</div>
<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card news shadow">
            <a href="Details?ID=@Html.DisplayFor(modelItem => item.PostID)">
            <img class="card-img-top" src="/images/@Html.DisplayFor(modelItem => item.Post_Image1)"></a>
            <h4>@Html.DisplayFor(modelItem => item.Post_Tite)</h4>
            <p style="font-size:1em;color:#000; text-align:center;padding-left:20px;padding-right:20px">@Html.DisplayFor(modelItem => item.Post_Content)</p>
            <p style="font-size:.7em;color:#000; text-align:center;padding-left:20px;padding-right:20px">
                BY: @Html.DisplayFor(modelItem => item.Post_author)
                @Html.DisplayFor(modelItem => item.Post_Date)
            </p>
        </div>
    }
</div>


@*<div class="listing container">
        @foreach (var item in Model)
        {
            <div class="card news shadow">
                <img class="card-img-top" src="/images/@Html.DisplayFor(modelItem => item.Post_Image1)">
                <h4>@Html.DisplayFor(modelItem => item.Post_Tite)</h4>
                <p style="font-size:1em;color:#000; text-align:center;padding-left:20px;padding-right:20px">@Html.DisplayFor(modelItem => item.Post_Content)</p>
                <p style="font-size:.7em;color:#000; text-align:center;padding-left:20px;padding-right:20px">BY: @Html.DisplayFor(modelItem => item.Post_author) 
                @Html.DisplayFor(modelItem => item.Post_Date) 
                @Html.ActionLink("View", "Details", new { id = item.PostID }, htmlAttributes: new { @class = "btn btn-xs btn-info" })</p>
            </div>
        }
</div>*@



<div class="col-md-12">
    <p class="buttonbox">
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-lg btn-primary" role="button" aria-disabled="true">Return</a>
        @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("SuperAdmin"))
                {
                @Html.ActionLink("Create a New Article", "Create", "BlogPosts", new { }, htmlAttributes: new { @class = "btn btn-lg btn-primary" })
            }
        }
    </p>

</div>







<div class="col-md-12" style="text-align:center;margin-top:40px;">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("SuperAdmin"))
        {
        }
    }
</div>


@section scripts{
    <script>
            $(document).ready(function () {
                $("#articlelist").DataTable();
            });
    </script>
}




