@model IEnumerable<E3DBPI.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Payments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentAmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyID)           @*NOTE - convert to name not index #*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentAmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaymentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaymentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaymentID })
        </td>
    </tr>
}

</table>
